<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Mapper.ikunMapper">

    <select id="queryByPrice" resultType="com.example.pojo.ikun">
        select name,price from 修仙book where price=25 or price=22;
    </select>
</mapper>